.dashboard {
  position: relative;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.7em 2em;
}

.dashboard-wrapper > div {
  margin: 0.7em 0;
}

.greeting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  line-height: 1.9em;
}

.welcome .head {
  font-size: 2em;
  font-weight: bold;
}

.welcome p {
  font-size: 12px;
}

.chart-other-flex {
  padding-top: 1.2em;
  display: flex;
  position: relative;
}

.cof-2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1em;
  margin-right: 1em;
  box-shadow: 0 1px 5px 0px;
  padding: 10px;
}

.cof-2 p {
  font-weight: bold;
  font-size: 19px;
}

@media screen and (max-width: 960px) {
  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.7em 1.4em;
  }

  .dashboard-wrapper > div {
    margin: 0;
  }

  .greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .welcome {
    line-height: 1.9em;
  }

  .welcome .head {
    font-size: 1.8em;
    font-weight: bold;
  }

  .welcome p {
    font-size: 12px;
  }

  .chart-other-flex {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cof-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    margin-top: 2em;
    margin-right: 0;
    box-shadow: 0 1px 5px 0px;
    padding: 10px;
  }

  .cof-2 p {
    font-weight: bold;
    font-size: 19px;
  }
}

@media screen and (max-width: 650px) {
  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.3em 1.2em;
  }

  .dashboard-wrapper > div {
    margin: 0;
  }

  .greeting {
    display: flex;
    align-items: center;
  }

  .welcome .head {
    font-size: 1.6em;
    font-weight: bold;
  }

  .welcome p {
    display: none;
  }
}
