.ark {
  background-color: aquamarine;
  position: relative;
  margin-top: 6em;
  margin-bottom: 5em;
}

.arkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9em;
  padding: 4em;
}

.container1 {
  max-width: 450px;
}

.container1 .head {
  font-size: 4em;
  color: rgb(3, 116, 116);
  font-weight: 500;
  font-family: "WaterBrush";
}

.container1 .details {
  margin-top: 0.6em;
  font-size: 19px;
  color: teal;
}

.container2 img {
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 600px) {
  .ark {
    background-color: aquamarine;
    position: relative;
    max-width: 95vw;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 2em;
  }

  .arkcontainer {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    row-gap: 4em;
    padding: 2em;
  }

  .container1 {
    max-width: 80vw;
    margin: 0 auto;
  }

  .container1 .head {
    font-size: 30px;
    color: rgb(3, 116, 116);
    font-weight: 500;
    text-align: center;
  }

  .container1 .details {
    margin-top: 1.3em;
    max-width: 80vw;
    font-size: 18px;
    color: teal;
    text-align: center;
  }

  .container2 img {
    width: 80vw;
    height: 250px;
  }
}
