.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.img {
  width: 150px;
  height: 150px;
  background-color: red;
}

.description {
  text-align: center;
  color: orangered;
  font-weight: bold;
}

.description2 {
  text-align: center;
}

@media screen and (max-width: 600px){
    .wrapper {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-template-rows: auto auto auto;
        gap: .5em;
      }
}