.App {
  display: flex;
}
.App .otherside {
  position: relative;
  flex: 10;
  width: 100%;
}

/* @media screen and (max-width: 960px) {
  .App .otherside {
    max-width: calc(100vw - 10px);
  }
} */
