.App {
  display: flex;
}
.App .otherside {
  position: relative;
  flex: 10;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .otherside {
    z-index: -999;
    max-width: calc(100vw - 40px);
    left: 40px;
  }
}
