body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins-Medium";
  color: inherit;
}

a,
button {
  color: inherit;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url("./Fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Semi";
  src: local("Poppins-Semi"), url("./Fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"), url("./Fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Combo";
  src: local("Combo"), url("./Fonts/Combo/Combo-Regular.ttf");
}
