.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.nav {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2em;
}

@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4em 2.5em;
  }

  .nav {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
